body{
  background-image: url(../src/todobackground.jpg); 
  background-size:cover;
  background-repeat: no-repeat;
  display: flexbox;

}

.title{
    font-size: 100px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(56, 4, 56);
    text-align: center;
}
.taskNum {
  font-family: 'Courier New', Courier, monospace;
  color: rgb(56, 4, 56);
  text-align: center;
  font-size: 20px;
}

.todoListMain .header input {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #FFF;
    width: 320px;
    margin: 10px;
  }
  .todoListMain .header button {
    padding: 10px;
    font-size: 16px;
    margin: 10px;
    margin-right: 0px;
    background-color: #ff5100;
    color: #FFF;
    border: 2px solid #0066FF;
  }
  .todoListMain .header button:hover {
    background-color: #0be630;
    border: 2px solid #003399;
    cursor: pointer;
  }
  .todoListMain  .list li {
    color: #333;
    background-color: rgba(255,255,255,.5);
    padding: 15px;padding: 10px;
    font-size: 16px;
    margin: 10px;

    border-radius: 5px;
    width: 320px;
    list-style: none;
    display: inline-block;
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    
  }
   
  .todoListMain .list li:hover {
    background-color: whitesmoke;
    cursor: pointer;
    
  }

  ul {
      padding-inline-start: 0px;
  }

  