.title{
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    color: violet;
}

.todoListMain .header input {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #FFF;
    width: 320px;
  }
  .todoListMain .header button {
    padding: 10px;
    font-size: 16px;
    margin: 10px;
    margin-right: 0px;
    background-color: #0066FF;
    color: #FFF;
    border: 2px solid #0066FF;
  }
  .todoListMain .header button:hover {
    background-color: #003399;
    border: 2px solid #003399;
    cursor: pointer;
  }
  .todoListMain .list li {
    color: #333;
    background-color: rgba(255,255,255,.5);
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    transition: background-color 0.5s ease-out;
    list-style: none;
    
  }
   
  .todoListMain .list li:hover {
    background-color: whitesmoke;
    cursor: pointer;
    
  }

  ul {
      padding-inline-start: 0px;
  }

  .date .priority .inputTask{
    padding: 5px;
    margin: 10px;
  }